.antstream-spinner-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .antstream-spinner {
    animation: antstream-spinner-spin infinite 0.75s linear;
  }
}

@keyframes antstream-spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
