.game-container {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 0%;

  margin: 0.5em;
  min-height: 6em;
  min-width: 6em;

  animation: 0.5s ease-out 0s 1 FadeIn;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
